NUMBERS

In [1]:
2+1

3

In [2]:
2*2

4

In [3]:
3/2

1.5

In [8]:
3

3

Modulo

In [9]:
3 mod 2

SyntaxError: invalid syntax (<ipython-input-9-6adbbf8aaa4f>, line 1)

In [10]:
7 % 4

3

In [12]:
50%5

0

In [13]:
2**5

32

In [14]:
0.1+0.2-0.3

5.551115123125783e-17

In [15]:
1/2

0.5

TYPE()

In [17]:
a = 5

In [18]:
a

5

In [19]:
a = 10

In [20]:
a

10

In [21]:
a = a+a

In [22]:
a

20

In [23]:
type(a)

int

In [24]:
type(A)

NameError: name 'A' is not defined

In [25]:
a = 10.43

In [26]:
a

10.43

In [29]:
type(a)

float

In [ ]:

my_income = 100

tax_rate = 0.1

my_tax = my_income * tax_rate

In [2]:
my_income=100
tax=0.1
my_tax=my_income*tax

In [3]:
my_tax

10.0

STRING SLICING and INDEXING

In [4]:
'hello'

'hello'

In [5]:
"world"

'world'

In [8]:
x="I'm a girl"

In [9]:
type(x)

str

In [10]:
'hahaha "cold"'

'hahaha "cold"'

In [11]:
print('hello')

hello

In [13]:
print('one')
'two'

one

'two'

In [14]:
print('tada \n tada')

tada
 tada

In [15]:
print('tada \ttada')

tada 	tada

In [18]:
len('hello')

5

In [19]:
my_string = "hello world"

In [20]:
my_string

'hello world'

In [23]:
my_string[0]

'h'

In [25]:
my_string[-1]

'd'

In [26]:
mystring = "abcdefghijk"

In [27]:
mystring[2:] #start at index 2 (which is c)

'cdefghijk'

In [28]:
mystring[:3] #stop at index 3 which is d, but not include d!!!

'abc'

In [30]:
mystring[3:6] #start at index 3 (d) and stop at index 6 (g) but not include g

'def'

In [32]:
mystring[::3] #start at the beginnign of the string and move of 3 steps at once

'adgj'

In [33]:
mystring[1:8:2]

'bdfh'

In [34]:
mystring[::-1] #reverse the whole thing

'kjihgfedcba'

In [38]:
mystring[5:2:-1]

'fed'

IMMUTABILITY

In [39]:
name = "Sam"

In [40]:
name[0]

'S'

In [41]:
name[0]='P' #try to change "Sam" to "Pam" but Python does not let us do that --> immutable

TypeError: 'str' object does not support item assignment

In [43]:
last_letters=name[1:] #get "am"

In [44]:
'P' + last_letters #string concatenation

'Pam'

In [45]:
letter='z'
letter*10

'zzzzzzzzzz'

In [46]:
'2' + '3'

'23'

In [47]:
2+3

5

STRING METHODS

In [48]:
x="Hello World"

In [49]:
x.upper() #capitalize every thing in string

'HELLO WORLD'

In [50]:
x

'Hello World'

In [52]:
x.split() #split the string bases on the white spaces

['Hello', 'World']

In [54]:
x = "Hi this is a string"
x.split() #split based on white spaces

['Hi', 'this', 'is', 'a', 'string']

In [56]:
x.split('i') #split the 'i' but include white space

['H', ' th', 's ', 's a str', 'ng']

STRING INTERPOLATION

In [57]:
my_name = "Ti"

In [59]:
print("Hello "+ my_name) #concatenate a string with a variable

Hello Ti

Formatting with the .format() method

In [60]:
print('This is a string {}' .format('INSERTED'))

This is a string INSERTED

In [61]:
print('This is a {} {} {}' .format('fatty', 'funny','cat'))

This is a fatty funny cat

In [62]:
print('This is a {2} {1} {0}' .format('fatty', 'funny','cat'))

This is a cat funny fatty

In [64]:
print('This is a {f} {fu} {c}' .format(f='fatty', fu='funny',c='cat')) #keyword (i.e. f, fu, c)

This is a fatty funny cat

FLOAT FORMATTING

In [65]:
result = 100/777

In [66]:
result

0.1287001287001287

In [70]:
print("the result was {r:1.3f}" .format(r=result))

the result was 0.129

In [72]:
print("the result was {r:10.3f}" .format(r=result)) #width=10 just put more white spaces

the result was      0.129

In [73]:
print("the result was {r:10.7f}" .format(r=result)) #width=10 just put more white spaces

the result was  0.1287001

In [74]:
result = 104.324323532

In [75]:
print("the result was {r:1.3f}" .format(r=result))

the result was 104.324

f STRING LITERAL (python3.6)

In [76]:
name = "Jose"

In [79]:
print(f'Hello this is {name}') #python3.6 new method

Hello this is Jose

In [80]:
name = "Sam"
age = 3

In [81]:
print(f'{name} is {age} years old')

Sam is 3 years old