LIST
-

In [1]:
mylist = [1,2,3]

In [2]:
mylist = ['hey', 100, 5.2]

In [3]:
len(mylist) #return how many items in mylist

3

In [5]:
mylist = ['one','two','three']

In [7]:
mylist[0] #indexing

'one'

In [8]:
mylist[1:] #slicing

['two', 'three']

In [9]:
otherlist = [4,5]

In [11]:
newlist = mylist + otherlist #concatenate

In [12]:
newlist

['one', 'two', 'three', 4, 5]

In [13]:
newlist[0] = 'ONE ALL CAPS' #in string, we can't change an element inside of a string. But List can.

In [14]:
newlist

['ONE ALL CAPS', 'two', 'three', 4, 5]

In [19]:
newlist.append('six') #append new item to the list

In [16]:
newlist

['ONE ALL CAPS', 'two', 'three', 4, 5, 'six']

In [21]:
newlist.pop()

'six'

In [22]:
newlist

['ONE ALL CAPS', 'two', 'three', 4, 5]

In [23]:
popped = newlist.pop()

In [24]:
popped

5

In [25]:
newlist

['ONE ALL CAPS', 'two', 'three', 4]

In [26]:
newlist.pop(0)

'ONE ALL CAPS'

In [27]:
newlist

['two', 'three', 4]

In [28]:
newlist.pop(-1)

4

In [30]:
newlist = ['a','e','x','b','c']
numlist = [4,1,8,3]

In [31]:
newlist.sort()

In [32]:
newlist

['a', 'b', 'c', 'e', 'x']

In [33]:
mysort = newlist.sort()

In [34]:
mysort

In [36]:
type(mysort) #None is a type in Python

NoneType

In [39]:
None #indicate no value. Return value of a function/method that not actually return anything

In [42]:
#do this instead so mysortedlist canbe output the result
newlist.sort()
mysortedlist = newlist

In [41]:
mysortedlist

['a', 'b', 'c', 'e', 'x']

In [43]:
numlist.sort()

In [44]:
numlist

[1, 3, 4, 8]

In [47]:
numlist.reverse()

In [48]:
numlist

[8, 4, 3, 1]

DICTIONARIES
-

- Dict vs List

Dict: 
.objects retrieved by KEY NAME. 
.unordered
.cannot be sorted
*Use when need to quickly retrieve an object without knowing its index loaction

List:
.objects retrieved by LOCATION
.ordered
.can be indexed or sliced.

In [49]:
mydict = {'key1':'v1','key2':'v2'}

In [50]:
mydict

{'key1': 'v1', 'key2': 'v2'}

In [51]:
mydict['key1']

'v1'

In [52]:
price_lookup = {'apple':2.99,'oranges':1.99,'milk':5}

In [53]:
price_lookup['milk']

5

In [55]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}} #dict supports many types

In [56]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [57]:
d['k3']

{'insideKey': 100}

In [59]:
d['k3']['insideKey']

100

In [60]:
d['k2'][0]

0

In [61]:
x = {'key1':['a','b','c']}

In [62]:
x

{'key1': ['a', 'b', 'c']}

In [67]:
x['key1'][2].upper()

'C'

In [68]:
letter = x['key1']

In [69]:
letter

['a', 'b', 'c']

In [70]:
letter[2].upper()

'C'

In [72]:
y = {'k1':100,  'k2':200}

In [74]:
y['k3']=300 #add another key and value pair

In [75]:
y

{'k1': 100, 'k2': 200, 'k3': 300}

In [76]:
y['k1']='new value'

In [77]:
y

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [78]:
y.keys()

dict_keys(['k1', 'k2', 'k3'])

In [79]:
y.values()

dict_values(['new value', 200, 300])

In [80]:
y.items()

dict_items([('k1', 'new value'), ('k2', 200), ('k3', 300)])

TUPLES
-

Tuples are similar to List. Except Tuples are IMMUTABILITY

In [81]:
t = (1,2,3) #tuples

In [ ]:
mylist = [1,2,3] #list

In [82]:
type(t)

tuple

In [83]:
type(mylist)

list

In [84]:
len(t)

3

In [85]:
t = ('one',2)

In [86]:
t

('one', 2)

In [87]:
#indexing
t[0]

'one'

In [88]:
t[-1]

2

In [89]:
t = ('a','b','a')

In [90]:
t.count('a')

2

In [95]:
t.index('a') #return the index location of 'a' appears at first

0

In [94]:
t.index('b')

1

IMMUTABILITY of TUBLES

In [96]:
mylist

['one', 'two', 'three']

In [97]:
mylist

['one', 'two', 'three']

In [98]:
mylist[0] = 'NEW'

In [100]:
mylist #LIST DONT HAVE PROBLEM WHEN REPLACE 'one' WITH 'NEW'

['NEW', 'two', 'three']

In [101]:
t

('a', 'b', 'a')

In [102]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

SETS
-
.unordered collection of *unique* elements
which means there can be only 1 representative of the same object

In [103]:
myset = set()

In [104]:
myset

set()

In [105]:
myset.add(1)

In [106]:
myset

{1}

In [107]:
myset.add(2)

In [108]:
myset

{1, 2}

In [109]:
myset.add(2)

In [111]:
myset #it returns {1,2} not {1,2,2} --> Immutability

{1, 2}

In [117]:
mylist = [9,1,1,1,1,1,2,2,2,3,3,3,0]

In [113]:
mylist

[1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [118]:
set(mylist)

{0, 1, 2, 3, 9}

In [119]:
list2 = [9,1,2,0,3]

In [121]:
set(list2)

{0, 1, 2, 3, 9}

BOOLEANS
-

In [122]:
True

True

In [123]:
true

NameError: name 'true' is not defined

In [124]:
False

False

In [125]:
type(False)

bool

In [126]:
type(false)

NameError: name 'false' is not defined

In [127]:
1 > 2

False

In [129]:
b = None #place holder